# OS
.DS_Store

# Application & tools
.idea
themes/contrib/bootstrap/bower_components
themes/contrib/bootstrap/config.codekit
themes/contrib/bootstrap/node_modules
themes/contrib/bootstrap/npm-debug.log

# Project Specific
themes/contrib/bootstrap/.libraries
themes/contrib/bootstrap/lib
themes/contrib/bootstrap/starterkits/*/bootstrap

# Custom Theme specific

themes/custom/javi/node_modules
